[Desktop Entry]
Type=Application
Name=Qt QML Project
GenericName=Some software idk
Comment=My awesome UML application
Exec=/opt/qtqmlproj/bin/appQtQMLProj
Icon=qtqmlproj-icon
Terminal=false
Categories=Development;Qt;Graphics;
StartupWMClass=appQtQMLProj
