[Desktop Entry]
Type=Application
Name=QT Calculator
GenericName=Some software idk
Comment=Calculate stuff
Exec=/opt/qtqmlprojcalc/bin/appQtQMLProjCalc
Icon=qtqmlprojcalc-icon
Terminal=false
Categories=Development;Qt;Graphics;
StartupWMClass=appQtQMLProjCalc
