[Desktop Entry]
Type=Application
Name=QT Calculator
GenericName=Calculator
Comment=Basic Calculator
Exec=/opt/qtqmlprojcalc/bin/appQtQMLProjCalc
Icon=qtqmlprojcalc-icon
Terminal=false
Categories=Utility;Qt;Tools;
StartupWMClass=appQtQMLProjCalc
